.topbar {
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center;
	font-size: 14px;
}

.topsection {
	background-color: #ccc;
}

.dropdown {
	display: inline-flex;
	flex-direction: column;
	justify-content: start;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #ccc;
	padding:5px 30px;
	margin-top: 13px;
	border-radius: 4px;
	
}
.dropdown::after{
	content: "";
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, 0);
	border: 10px solid transparent;
	border-bottom: 10px solid #ccc;
}